@import "../assets/styles/Variables.scss";

.form-header{
    background: $secondaryDark;
    color: $light;
}
.form-btn{
    background: $secondary;
    color: $light;
}
.form-btn:hover{
    background: $primary;
    color: $dark;
}
.form-link{
    text-decoration: none;
    color: $secondary;
}
.form-link:hover{
    color: $primary;
}